body{
    margin: 0px;
}
header{
    padding: 10px;
    background-color: black;
    text-align: center;
}
header h1, header p{
    color: #ffffff;
}
header a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
}
section {
padding-top: 10vh;
padding-bottom: 10vh;
padding-left: 3%;
}
#first{
    background-image: url(img/background001.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#first p{
    padding: 5px;
    background-color: #ffffff50;
    width: fit-content;
    border-radius: 10px;
}
#second{
    background-image: url(img/background002.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#second p{
    padding: 5px;
    background-color: #ffffff50;
    width: fit-content;
    border-radius: 10px;
}