
body{
    background-color: #d8b5ff;
}
.link_color{
    color: crimson;
    text-decoration: none;
    
}
h1{
    padding-left: 40px;
}
.logo{
    border-radius: 50%;
    border: 1px solid #0c0101;
    padding: 3px; 
    height: 150px;
}
h2 {
    font-size: 20px;
    padding-left: 20px;
}

.RedesSocial p{
    display: inline-block;
}
div{
    padding-left: 14px;
}